@model Customer
@{ string title = ViewBag.Action + " Customer";
    ViewBag.Title = title; }


<h1>@ViewBag.Title</h1>

@* Razor code block to specify a section *@
@section scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />

<style>
    input.input-validation-error, select.form-control.input-validation-error {
        border: 2px solid #dc3545;
        background-color: #faebd7;
    }
</style>

<form asp-action="Save" method="post">
    <div class="row form-group">
        <label asp-for="FirstName" class="col-sm-2">First Name</label>
        <div class="col-sm-5">
            <input asp-for="FirstName" class="form-control">
        </div>
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="LastName" class="col-sm-2">Last Name</label>
        <div class="col-sm-5">
            <input asp-for="LastName" class="form-control">
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="Address" class="col-sm-2">Address</label>
        <div class="col-sm-5">
            <input asp-for="Address" class="form-control">
        </div>
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="City" class="col-sm-2">City</label>
        <div class="col-sm-5">
            <input asp-for="City" class="form-control">
        </div>
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="State" class="col-sm-2">State</label>
        <div class="col-sm-5">
            <input asp-for="State" class="form-control">
        </div>
        <span asp-validation-for="State" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="PostalCode" class="col-sm-2">Postal Code</label>
        <div class="col-sm-5">
            <input asp-for="PostalCode" class="form-control">
        </div>
        <span asp-validation-for="PostalCode" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="CountryID" class="col-sm-2">Country</label>
        <div class="col-sm-5">
            <select asp-for="CountryID"
                    asp-items="@(new SelectList(ViewBag.Countries, "CountryID", "Name", Model.CountryID))"
                    class="form-control">
                <option value="">Select a country...</option>
            </select>
        </div>
        <span asp-validation-for="CountryID" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="Email" class="col-sm-2">Email</label>
        <div class="col-sm-5">
            <input type="email" class="form-control" asp-for="Email">
        </div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="row form-group">
        <label asp-for="Phone" class="col-sm-2">Phone</label>
        <div class="col-sm-5">
            <input asp-for="Phone" class="form-control">
        </div>
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="CustomerID" />
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-action="List" class="btn btn-primary">Cancel</a>
</form>
